<!DOCTYPE html>
<html lang="en">
<head>

  <title>FOR A BETTER UNDERSTANDING OF JESUS CHRIST</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
  body {
    background-color: lightblue;
  }

  h1 {
    color: white;
    text-align: center;
  }
  h2 {
    color: red;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }
</style>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WELCOME TO THE REALITIES OF LIFE MINISTRY</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">myministry</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h2>Login with your email for a sound and factual word of God meant for every living soul</h2>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

  </form>

  <div class="w3-container w3-teal">
    <h1>BE NICE TO FELLOW HUMAN</h1>
  </div>

  <img src="image2.jpg" alt="Rev. Chinedu Nmezi" style="width:100%">
  <img src="image1.jpg" alt="Pastor Vivian Nmezi" style="width:100%">
  <div class="w3-container">
    <p>We cruse you to a greater destintion of success and eliviate you to a BETTER WORLD  .</p>
  </div>

  <div class="w3-container w3-teal">
    <p>My Ministry is SOLIDLY built on the undiluted WORD OF GOD</p>
  </div>
</div>

</body>
</html>
